@import "partials/reset";

body{
  background-color: pink;

}
h1{
  color: white;
}

#photoForm {
  visibility: hidden;
}

#container{
  text-align: center;
  position: relative;
}

#imageContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
  margin: auto;
  width: 300px;
  overflow: hidden;
  margin-top: -600px;

}

img {
  height: 600px;
  width: 300px;
}

#buttons {
  position: absolute;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  right: 0;
margin-top: 0px;
transition: margin-top .5s ease-in-out;
    -moz-transition: margin-top .5s ease-in-out;
    -webkit-transition: margin-top .5s ease-in-out;
}

#photoBlur {
  position: relative;
background-color: RGBA(207, 207, 205, 0.80);
display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
  margin: auto;
  width: 300px;
  height: 600px;
  z-index: 2;
  visibility: visible;
}

img:hover ~ #buttons {
  margin-top: -18px;
  transition: margin-top .5s ease-in-out;
  -moz-transition: margin-top .5s ease-in-out;
  -webkit-transition: margin-top .5s ease-in-out;

}

#buttons:hover {
  margin-top: -18px;
  transition: margin-top .5s ease-in-out;
  -moz-transition: margin-top .5s ease-in-out;
  -webkit-transition: margin-top .5s ease-in-out;

}