@import "partials/reset";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,900);
@-ms-viewport{
  width: device-width;
};

body {
  font-family: 'Roboto';
  font-weight: 100;
}

@import "modules/gallery";
@import "modules/single";
@import "modules/logins";
@import "modules/error";