doctype html

block title
  title
    |Image Gallery

block content
  h1 Gallery
  div(id='blurbContainer')
    h2(id='blurb')

  ul
    each photo in photos
      li
        a(href='/gallery/#{photo.id}')
          img(src='#{photo.link}')
        p #{photo.author}
        p #{photo.description}