doctype html

block title
  title
    |Image Gallery

block content
div(id='main')
  div(id='header')
    div(id='title')
    div(id='blurb')
  div(id='largePhoto')
div(id='spacer')
  div(id='mixedPhotos')
    each photo in photos
      div(class='smallPhotos')
        a(href='/gallery/#{photo.id}')
          img(src='#{photo.link}')
        p #{photo.author}
        p #{photo.description}
div(id='spacer')