doctype html

block title
  title
    |Image Gallery
  style
    include ../public/css/styles.css


block content
div(id='mainGallery')
  div(id='headerGallery')
    div(id='titleGallery')
      h1 _ARCHITEKT
    div(id='blurbGallery')
      p Surround yourself with angels. In life there will be road blocks but we will over come it. We the best. Stay focused. Congratulations, you played yourself. Give thanks to the most high. Give thanks to the most high. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. They don’t want us to win. Don’t ever play yourself. Elliptical talk. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast.
  div(id='largePhotoGallery')
    img(src='http://lorempixel.com/965/400/')
  div(class='spacerGallery')
    div(id='mixedPhotosGallery')
      each photo in photos
        div(class='smallPhotosGallery')
          a(href='/gallery/#{photo.id}')
            img(src='#{photo.link}')
          p #{photo.author}
          p #{photo.description}
  div(class='spacerGallery')