doctype html

block title
  title Login

block content
  form(method="POST" action="/login")
    input(name='username' placeholder='username' required autofocus)
    input(name='password' type='password' placeholder='password' required)
    button Login
  div #{errors}