extends ./layout.jade

block title
  title
    |New Image

block content
  div#suroundingNew
    div#newTitle
      p Add New Image

    form#newForm(method="POST" action="/gallery")
      input(placeholder='Enter new image link' name ='link' autofocus required)
      input(name='author' placeholder='Author' required)
      input(type='text' name ='description' placeholder='Description' required)
      button Submit Changes



