extends ./layout.jade

block title
  title Register

block content

  div#suroundingReg
    div#regTitle
      p Make an Account
    form#regForm(method="POST" action="/register")
      input(name='username' placeholder='Username' required autofocus)
      input(name='password' type='password' placeholder='Password' required)
      div(class='errors')
        p #{errors}
      button.button Register