doctype html

block title
  title Register

block content
  form(method="POST" action="/login")
    input(name='username' placeholder='username')
    input(name='password' type='password' placeholder='password')
    input(name='password' type='password' placeholder='password')
    button Register