 #suroundingLogin, #suroundingNew, #suroundingReg {
  margin: 0 auto;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  padding: 4% 5% 8% 5%;
    p{
      margin: 0 auto;
    }
 }

#loginTitle, #newTitle, #regTitle {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-size: 2vw;
  padding-bottom: 1%;
  color: white;
  border-bottom: dotted 1px white;
  margin-bottom: 4%;
}


#loginForm, #newForm, #regForm {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 75%;
  justify-content: center;
    input {
      box-sizing: border-box;
      margin-bottom: 3%;
      outline-color: RGBA(25, 227, 177, 1.0);
      box-sizing: border-box;
      padding: 1% 1% 1% 0;
    }
    button {
      margin: 0 auto;
      margin-top: 4%;
      width: 60%;
      flex: 0 0 auto;
      font-family: 'Roboto';
      font-weight: 100;
      border-width: 0;
      background-color: white;
      border: solid 1px RGBA(114, 114, 114, 1.00);
      border-radius: 3px;
      text-align: center;
      outline: none;
      padding: 2.1%;
      opacity: .92;
      &:hover {
         border: solid 1px RGBA(200, 200, 200, 1.00);
          }
    }
}

.errors{
    margin: 0 auto;
    text-align: center;
  p{
    color: RGBA(232, 159, 144, 1.00);
  }
}


@media screen and (max-width: 670px) {

   #suroundingLogin, #suroundingNew, #suroundingReg {
  width: 80%;
 }
  #loginTitle, #newTitle, #regTitle {
      font-size: 4vw;
  }
}