 #container {
    padding: 50px 0 100px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    height: 900px;
  }

  #single {
    flex: 0 0 70%;
    height: 101%;
    display: flex;
    flex-flow: column nowrap;

  .blurCover {
    background-color: rgba(0,0,0, 0.80);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
      form {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        height: 40%;
        width: 40%;
      }
        input {
          box-sizing: border-box;
          margin-bottom: 10%;
          width: 100%;
          padding: 1% 2% 1% 2%;
          outline-color: RGBA(25, 227, 177, 1.0);
          opacity: .92;
        }
        #submitButton{
          font-family: 'Roboto';
          font-weight: 100;
          margin-top: 6%;
          margin-left: 0;
          border-width: 0;
          background-color: white;
          border: solid 1px RGBA(114, 114, 114, 1.00);
          border-radius: 3px;
          text-align: center;
          outline: none;
          padding: 2.1%;
          opacity: .92;
          &:hover {
             border: solid 1px RGBA(200, 200, 200, 1.00);
              }
        }
}

.displayNone {
  display: none;
  visibility: hidden;
}

    #image {
      flex: 1 0 50%;
      height: 100%;
      background-size: cover;
      background-position: center;
      margin-bottom: 10px;
      position: relative;
    }

    #description {
      flex: 0 0 auto;
      margin-bottom: 10px;
    }
  }

#buttonsED {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  button {
    border-width: 0;
    background-color: white;
    border: solid 1px RGBA(114, 114, 114, 1.00);
    opacity: 0.4;
    border-radius: 3px;
    text-align: center;
    outline: none;
    &:hover {
      opacity: 0.8;
      border: solid 1px RGBA(114, 114, 114, 1.00);
    }
  }
  #buttonD {
    margin-left: 1%;
  }
}



  #multiple {
    flex: 0 0 25%;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    height: 100%;
    .sideContainer {
      flex: 0 0 33%;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      .sideImageLink {
        flex: 1 0 80%;
        margin-bottom: 10px;
        background-size: cover;
        background-position: center;
      }
      .sideInfo {
        flex: 0 0 20%;
      }
    }
  }
  .button {
    padding: 2%;
    border-width: 0;
    background-color: white;
    border: solid 1px RGBA(114, 114, 114, 1.00);
    border-radius: 3px;
    text-align: center;
    margin-right: 1%;
    outline: none;



    &:hover {
       border: solid 1px RGBA(200, 200, 200, 1.00);
    }
  }

i {
  color: white;
  padding: 1%;
  position: absolute;
  top: 0;
  right: 0;
}

#editButton  {
    transition: all 2s ease-in-out;
}



@media screen and (max-width: 1050px) {
  #multiple {
    //visibility: hidden;
    display: none;
  }

  #single {
    flex: 0 0 100%;
  }
}


@media screen and (max-width: 700px) {
  #multiple {
    //visibility: hidden;
    display: none;
  }

  #single {
    flex: 0 0 100%;
    height: 65%;

    .blurCover {
    form {
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      align-items: center;
      height: 40%;
      width: 100%;
    }
      input {
        box-sizing: border-box;
        flex: 0 0 auto;
        margin-bottom: 10%;
        width: 95%;
        padding: 2% 0 2% 2%;
        outline-color: RGBA(25, 227, 177, 1.00);
        border: none;
        border-radius: 0;
      }
      #submitButton {
        flex: 0 0 auto;
        width: 90%;

      }
  }
}
  #container {
    width: 95%;
  }
}
